<VirtualHost *:80>
    ServerName link.example.com
    DocumentRoot /var/empty
    AliasMatch (.*) /usr/local/lk4/cgi-bin/lk4.cgi$1
    ErrorLog /var/local/lk4/error.log
    LogLevel warn
    CustomLog /var/local/lk4/access.log combined
</VirtualHost>

