let data_root = /var/local/l4x

list all_libraries {
    eds
    emerson
    emmanuel
    lesley
    massart
    mcphs
    mfa
    nec
    neco
    wit
    wheelock
}

function library_name(library) {
    eds      -> Episcopal Divinity School
    emerson  -> Emerson College
    emmanuel -> Emmanuel College
    lesley   -> Lesley University
    massart  -> MassArt
    mcphs    -> MCPHS
    mfa      -> MFA
    nec      -> New England Conservatory
    neco     -> NECO
    wit      -> WIT
    wheelock -> Wheelock College
}

